<footer class="blog-footer text-center bg-light mt-5 ">
    <div class="py-4 ">
        <p>Built by
            <a href="https:/maveddy.co.za/ "> <strong class="text-dark ">Eddy Mavimbela</strong> </a>.</p>
        <p>
            <a href="# ">Back to top</a>
        </p>
    </div>
</footer>


<script src="/dist/js/blog.js "></script>
<script src="/dist/js/jquery-3.2.1.min.js "></script>
<script src="/dist/js/jquery.min.js "></script>
<script src="/dist/js/popper.min.js "></script>
<script src="/dist/js/bootstrap.min.js "></script>
</body>

</html>